/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Work Sans', 'Avenir', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.05);
}
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.intro.hidden {
  display: none;
}
.game-display {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.game-display.hidden {
  display: none;
}
.swatches,
.swatch-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.swatch-background {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.colorFrom,
.colorTo {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.colorFrom:hover,
.colorTo:hover {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.colorFrom,
.colorTo {
  -webkit-transition: transform 0.15s ease-out;
  -moz-transition: transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
}
.colorFrom:hover,
.colorTo:hover {
  -webkit-transition: transform 0.15s ease-out;
  -moz-transition: transform 0.15s ease-out;
  -o-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.colorFrom {
  margin: -150px 0 0 -320px;
  z-index: 2;
}
.colorTo {
  margin: -150px 0 0 20px;
  z-index: 3;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
footer p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #fe4365;
}
footer a:hover {
  border-bottom: 1px solid #fe4365;
}
